@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --font-inter: 'Inter', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
}
